@model final_project.Models.Responsable

@{
    ViewBag.Title = "Créer un compte | Responsable";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="signup">
        <div class="container1">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form">
                <p class="login_text1">Bienvenue</p>
                <p class="login_text2">
                    Donnez-nous certaines de vos informations pour accéder à
                    l'application
                </p>
                <div class="form-row inputBox">
                    <div class="form-group col-md-12">
                        <label for="email" class="label">Votre Nom Complet</label>
                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control input" } })
                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row inputBox">
                    <div class="form-group col-md-12">
                        <label for="email" class="label">Adresse Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row inputBox">
                    <div class="form-group col-md-12">
                        <label for="password" class="label">Mot de passe</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="btn_container">
                    <button type="submit" class="btn btn-primary login_btn" id="btn2">
                        S'inscrire
                    </button>
                </div>
                <p class="login_text3">
                    Vous avez déjà un compte ?
                    <span><a href="~/Responsable/Login">Se connecter</a></span>
                </p>
            </div>
        </div>
    </div>
}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .signup {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #4e54c8
    }

    .container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 85vh;
        background-color: #fff;
        width: 31%;
        border-radius: 10px;
    }

    .form {
        width: 85%;
        min-height: 90%;
    }

    .input {
        width: 100%;
        border: 1px solid #99d6ff;
    }

    .login_text1 {
        font-size: 36px;
        color: #3399ff;
        margin-bottom: 5px;
        font-weight: 500;
        text-align: center
    }

    .login_text2 {
        font-size: 13px;
        color: #969696;
        margin-bottom: 32px;
        text-align: center
    }

    .form-check-label {
        color: #777777;
    }

    .login_text3 {
        color: #777777;
        text-align: center;
    }

    span {
        color: #ae00b4;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .label {
        color: #777777;
        font-weight: 600;
        font-size: 15px;
    }


    .btn_container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }

    .login_btn {
        width: 50%;
        margin-bottom: 30px;
        padding: 10px
    }
</style>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
