
@model final_project.Models.Panne
@{
    ViewBag.Title = "ListerPannes";
    Layout = "~/Views/Shared/_TechnicienLayout.cshtml";

}


<div>
    <h4>Liste les materiels en panne</h4>
    &nbsp;
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Explication</th>
                <th scope="col">Date d'apparition</th>
                <th scope="col">Frequence</th>
                <th scope="col">Ordre</th>
                <th scope="col">Type Materielle</th>
                <th scope="col">Nom Enseignant</th>
                <th scope="col">Constat</th>
                <th scope="col">Decision</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["ListP"] != null)
            {
                foreach (var item in (List<final_project.Models.Panne>)ViewData["listP"])
                {
            <tr>
                <th scope="row">
                    @item.Id
                </th>
                <td>@item.Explication</td>
                <td>@item.DateApparition</td>
                <td>@item.Frequence</td>
                <td>@item.Ordre</td>
                @if (@item.Ordre == "Défaut du système" || item.Ordre == "Défaut du logiciel utilitaire")
                {
                    <td>Ordinateur</td>
                }
                else
                {
                    <td>Imprimante</td>
                }

                <td>@item.Enseignant.Nom</td>
                @if (item.Constat != "")
                {
                    <td>
                        @item.Constat
                    </td>
                }
                else
                {
                    <td>
                        <input type="button" onclick="passData1(@item.Id)" class="btn btn-warning" data-toggle="modal" data-target="#modalExplication" value="Gérer constat" />
                    </td>
                }
                <td>
                    @item.Decision
                </td>

            </tr>
                }
            }

        </tbody>
    </table>

    <!-- Modal Explication -->
    <div class="modal fade" id="modalExplication" tabindex="-1" role="dialog" aria-hidden="true"
         style="margin-top:60px">
        <div class="modal-dialog" role="document">
           
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">L'explication de la panne</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border:none; outline:none">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm())
                {
                    <div class="modal-body">
                        <div class="form-group col-md-12">
                            @Html.TextBoxFor(model => model.Id, new { @class = "form-control hidden", @id = "idInput1" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Constat, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Constat, new { rows = 4, @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Valider"/>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<style>
    .hidden {
        display: none;
    }
</style>

<script>
    function passData1(value) {
        $("#idInput1").val(value)
    }
</script>
